body{
    background-color: #D3D3D3;
    background-size: cover;
    background-position: left 60px;
    }
    
    
    img.img-circle.team-img {
        width: 530px;
      height: 380px;
    }
    