



/* spaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaace */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.footer-copyright{
  padding-left: 460px;
  padding-top: 120px;
}
body{
  background-image: url(../static/1edit1.jpg);
background-size: cover;

  background-repeat: no-repeat;
}
h1{
font-weight: bold;
font-size: 80px;
padding-top: 80PX;
}

.card{
     width:500px;
     height: 600px;
    }
.card1{
  padding-left: 450px;
  padding-top: 20px;
}
.intro{
  padding-top: 110px;
}
.image{
  padding-left: 50px;
  padding-bottom: 10px;
}
.texttext{
  padding-left: 550px;
  padding-top: 50px;

}
